*{
  margin: 0;
  padding: 0;
  color: #999999;
  font-family: Georgia, Times, "Times New Roman", serif;
}
a{
  text-decoration: none;
}
p{
  line-height: 20px;
}

@import '_variables';
@import '_layout';
@import '_forms';

header{
  border-top: 2px solid $primary;
  border-bottom: 1px solid $border;
}
.container{
  width: $container;
  margin: 0 200px;
}
.top-header{
  display: grid;
  grid-template-columns: 50% 48%;
  margin: 30px auto 10px auto;

  ul{
    list-style: none;
    li{
      float: left;
      margin-right: 10px;
      a{
        padding: 10px 15px;
        border-radius: 50%;
        background: $background;
      }
    }
  }
  form{
    justify-self: end;
  }
}

.navbar{
  display: grid;
  grid-template-columns: 30% 71%;
  margin-bottom: 20px;
  .logo{
    h2{
      color: $titleColor;
      &::first-letter {
        font-size: 30px;
      }
    }
    p{
      color: #999999;
    }
  }

  ul{
    list-style: none;
    margin-top: 35px;

    li{
      float: left;
      margin-right: 15px;
      a{
        text-decoration: none;
        color: #999999;
        text-transform: uppercase;
        font-weight: bold;
        &:hover{
          color: $primary;
        }
      }
    }
  }
}
section{
  margin: 30px auto 40px auto;
  border-bottom: 1px solid $border;
}
.banner{
  display: grid;
  grid-template-columns: 50% 50%;
  figure{
    img{
      max-width: 100%;
      min-height: 30px;
    }
  }
  .banner-contain{
    margin-top: 4em;
    h2{
      font-size: 42px;
      color: $titleColor;
    }
    p{
      font-size: 16px;
      color: #999999;
      margin: 20px auto 30px auto;
    }
    a{
      margin-top: 20px;
    }
  }
  ul{
    margin-bottom: 20px;
    margin-left:20px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: end;
    list-style: none;
    li{
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      cursor: pointer;
      background-color: $primary;
      border: 1px solid $primary;
      border-radius: 10px;
    }
    .active{
      background-color: #ffffff;
      border: 1px solid $primary;
    }
  }
}

.intro{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  gap: 30px;
  h2{
    margin-top: 10px;
    font-size: 16px;
    color: $titleColor;
  }
  p{
    font-size: 13px;
    color: #999999;
    margin: 20px auto 30px auto;
  }
  a{
    margin-top: 20px;
  }
}

.service{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  gap: 30px;
  .service-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    h2{
      font-size: 16px;
      color: $primary;
    }
    p{
      font-size: 13px;
      color: #999999;
      margin: 20px auto 30px auto;
    }
  }
}

.quote{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: end;
  margin: 50px 100px;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  color: #666666;
}

footer{
  background: #252525;
  .footer-top{
    padding-top: 30px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    h2{
      color: #ffffff;
      font-size: 20px;
      padding-bottom: 20px;
    }
    .contact{
      p{
        font-size: 12px;
        color: #999999;
        a{
          color: $primary;
        }
      }
    }
    .quick{
      ul{
        list-style: none;
        li{
          padding: 5px 0;
          border-bottom: 1px solid #2c2c2c;
          a{
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }
    .about{
      h4{
        font-size: 16px;
        color: #999999;
      }
      p{
        font-size: 12px;
        color: #999999;
        line-height: 16px;
      }
      a{
        margin-left: 140px;
        font-size: 12px;
        color: $primary;;
      }
    }
    .news{
      input{
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border-radius: 8px;
        border: #2c2c2c;
        background: #2c2c2c;
        &::placeholder{
          color: #989898;
        }
      }
      input[type=submit]{
        width: 30%;
        border: $primary;
        background: $primary;
        text-transform: uppercase;
        color: $inputColor;
      }
    }
  }
  .footer-bottom{
    background: #1a1a1a;
    padding: 15px 0;
    .copyright{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .copyright-left{
        p{
          font-size: 12px;
          color: #999999;
        }
      }
      .copyright-right{
        justify-self: end;
        p{
          font-size: 12px;
          color: #999999;
        }
      }
    }
  }
}